src/main/resources/schema/person.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.d6.in.ua/person" version="1.0">

  <xs:complexType name="person">
    <xs:sequence/>
    <xs:attribute name="id" type="xs:long" use="required"/>
    <xs:attribute name="name" type="xs:string"/>
  </xs:complexType>
</xs:schema>
